* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #f3f1f1;
  overflow-x: hidden;
}

body ::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

body,
input,
button,
textarea {
  font: 600 18px Nunito, sans-serif;
}

.MuiFormControlLabel-label {
  font: 600 18px Nunito, sans-serif;
  color: #000;
}

.err {
  font: 600 18px Nunito, sans-serif;
  color: red;
}

.titulo {
  font: 600 18px Nunito, sans-serif;
  color: #000;
}
