::-webkit-input-placeholder {
    color: #A5A5A5;
    margin-left: 10px;
    font-size: 13pt;
};

pcd{
    margin-left: 200px;
}

#iconeFavorito {
    width: 30px;
    margin-left: 400px;
    color: red;
}

#favoritosButton {
    margin-top: 45px;
    margin-left: -60px;
    color: #878787;
}

#acessarAnuncioButton {
    width: 120px;
    height: 30px;
    margin-top: 0px;
    margin-left: 175px;
    background-color: #5BB159;
    border: none;
    font-size: 6pt;
}

#aceitarButton {
    background-color: #5BB159;
    color: white;
    font-size: 10pt;
    margin-left: 20px;
}

#recusarButton {
    background-color: #EA5757;
    color: white;
    font-size: 10pt;
    margin-left: 20px;
}